<div
    data-message-is-read={{messageIsRead}}
    data-contact-id={{contactId}}
    class="{{rootClass}}">
        <img class="{{imgStyles}}" src={{avatarSrc}}>
        <div>
            <p>{{contactName}}</p>
            {{{ Message }}}
        </div>
</div>
