<div
    data-message-is-read={{messageIsRead}}
    data-contact-id={{contactId}}
    {{#if class_}}class="{{class_}}"{{/if}}>
        <img class="{{imgStyles}}" src={{avatarSrc}}>
        <div>
            <p>{{contactName}}</p>
            <div id={{messagePlace}}></div>
        </div>
</div>