<div
    data-message-is-read={{messageIsRead}}
    data-contact-id={{contactId}}
    {{#if class}}class={{class_}}{{/if}}>
        <img src={{avatarSrc}}>
        <p>{{contactName}}</p>
        <div id={{messagePlace}}></div>
</div>