<main class="{{rootClass}}">
    {{#if isLogged}}
        {{{SideChatBar}}}
        <div>
            {{#each Messages}}
                <div>
                    {{{this}}}
                </div>
            {{/each}}
            {{{SendMessage}}}
        </div>
    {{else}}
        <p>
            Войдите или зарегистрируйте новый аккаунт
        </p>
        {{{LoginButton}}}
        {{{RegisterButton}}}
    {{/if}}
</main>
