<main class="{{rootClass}}">
    {{#if isLogged}}
        <div>
            {{#each ChatsSideBar }}
                {{{this}}}
            {{/each}}
        </div>
        <div>
            {{#each Messages}}
                {{{this}}}
            {{/each}}
            {{{SendMessage}}}
        </div>
    {{else}}
        <p>Войдите или зарегистрируйте новый аккаунт</p>
        {{{LoginButton}}}
        {{{RegisterButton}}}
    {{/if}}
</main>
