<main>
    {{#if isLogged}}
        <div id={{chatSideBarPlace}}></div>
        <div id={{messagesPlace}}></div>
        <div id={{textInputPlace}}></div>
    {{else}}
        <div id={{buttonToLogin}}></div>
        <div id={{buttonToRegister}}></div>
    {{/if}}
</main>