<div class="{{divClass}}">
    <input
        class="{{input_.class_}}"
        type={{input_.type}}
        required={{input_.required}}
        {{#if input_.pattern}}pattern={{input_.pattern}}{{/if}}
        placeholder="{{input_.placeholder}}"
        name={{input_.name}}
    />
    <span class="{{barClass}}"></span>
    {{#if label_.text}}
        <label class="{{label_.class_}}">
            {{label_.text}}
        </label>
    {{/if}}
    {{#if br_}}
        <br>
    {{/if}}
</div>