<label class={{labelClasses}}>
    {{inputLabel}}
    <input
        class={{inputClasses}}
        type={{inputType}}
        required={{inputRequired}}
        pattern={{inputPattern}}
    />
</label>