<div class="{{divClass}}">
    <input
        class="{{input_.class_}}"
        {{#if input_.type}}type={{input_.type}}{{/if}}
        {{#if input_.required}}required={{input_.required}}{{/if}}
        {{#if input_.pattern}}pattern={{input_.pattern}}{{/if}}
        {{#if input_.placeholder}}placeholder="{{input_.placeholder}}"{{/if}}
        {{#if input_.name}}name={{input_.name}}{{/if}}
    />
    <span class="{{barClass}}"></span>
    {{#if label_.text}}
        <label class="{{label_.class_}}">
            {{label_.text}}
        </label>
    {{/if}}
</div>