<main class="{{rootClass}}">
    {{{SideChatBar}}}
    <div>
        <div>
            {{{ChatAvatarSubmit}}}
            {{{UsersButton}}}
            {{{RemovePersonButton}}}
            {{{AddPersonButton}}}
        </div>
        {{#each Messages}}
            <div>
                {{{this}}}
            </div>
        {{/each}}
        {{{SendMessage}}}
    </div>
</main>
