<div
    data-message-is-read="{{messageIsRead}}"
    data-chat-id="{{chatId}}"
    class="{{rootClass}}"
>
    <img class="{{imgStyles}}" src="{{avatarSrc}}" />
    <div>
        <div class="{{chatDivClass}}">
            <p class="{{chatParagraphClass}}">
                {{chatTitle}}
            </p>
            {{{Time}}}
        </div>
        {{{Message}}}
    </div>
</div>
