<div class="{{rootClass}}">
    {{#if label.text}}
        <label class="{{label.class}}">
            {{label.text}}
        </label>
    {{/if}}
    <span class="{{barClass}}"></span>
    <input
        class="{{inputPart.class}}"
        type={{inputPart.type}}
        required={{inputPart.required}}
        {{#if inputPart.pattern}}pattern={{inputPart.pattern}}{{/if}}
        placeholder="{{inputPart.placeholder}}"
        name={{inputPart.name}}
    />
    {{#if br}}
        <br>
    {{/if}}
</div>
