<div class="{{rootClass}}">
    {{{InputField}}}
    <p>{{validationErrorText}}</p>
    <span class="{{barClass}}"></span>
    {{#if label.text}}
        <label class="{{label.class}}">
            {{label.text}}
        </label>
    {{/if}}
    {{#if br}}
        <br />
    {{/if}}
</div>
