<div class="{{rootClass}}">
    {{#if label.text}}
        <label class="{{label.class}}">
            {{label.text}}
        </label>
    {{/if}}
    <span class="{{barClass}}"></span>
    {{{ InputField }}}
    {{#if br}}
        <br>
    {{/if}}
</div>
