<div data-sender={{sender}} id={{messageId}} {{#if class_}}class={{class_}}{{/if}}>
    <p>{{text}}</p>
    <time datetime={{timeMachine}}>{{#if timeHuman}}{{timeHuman}}{{else}}{{timeMachine}}{{/if}}</time>
</div>