<div data-sender={{sender}} id={{messageId}} class="{{rootClass}}">
    <p>{{text}}</p>
    <time class={{timeClass}} datetime={{timeMachine}}>{{#if timeHuman}}{{timeHuman}}{{else}}{{timeMachine}}{{/if}}</time>
</div>
