<form class="{{rootClass}}">
    {{#if formHeaderText}}
        <p>
            {{formHeaderText}}
        </p>
    {{/if}}
    {{#each Inputs}}
        {{{this}}}
    {{/each}}
    {{#if errorText}}
        <p class={{errorClass}} id="form-authorization-error">
            {{errorText}}
        </p>
    {{/if}}
    {{#if SubmitButton}}
        {{{SubmitButton}}}
    {{/if}}
</form>
